.mainChat
  .mainChat__header
    .mainChat__box
      .mainChat__groupname
        bbbb
      .mainChat__member
        Member:bbbb
    = link_to "#", class: "mainChat__edit" do
      edit
  .mainChat__messages
    .mainChat__message
      .mainChat__uppermessage
        .mainChat__username
          aaaa
        .mainChat__date
          2020/07/11 21:00
      .mainChat__lowermessage
        .mainChat__comment
          xxxx
    .mainChat__message
      .mainChat__uppermessage
        .mainChat__username
          aaaa
        .mainChat__date
          2020/07/11 21:00
      .mainChat__lowermessage
        .mainChat__comment
          xxxx
  .mainChat__footer