.sideBar
  .sideBar__header
    .sideBar__sideheader
      .sideBar__sidebox
        .sideBar__username
          samle
        .sideBar__iconlist
          = link_to "#", class:"sideBar__lefticon" do
            = icon("fas", "edit") 
          = link_to "#", class:"sideBar__righticon" do
            =icon("fas", "cog")
  .sideBar__gorupList